*{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.container>h3{
    font-size: 5rem;
    font-weight: 100;
    
}